name: CI

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  biome:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup
        uses: ./.github/composite-actions/cache-and-install

      - name: Biome
        shell: bash
        run: |
          pnpm run check

  typecheck:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup
        uses: ./.github/composite-actions/cache-and-install

      - name: Typecheck
        shell: bash
        run: |
          pnpm run typecheck
