name: OSV Scanner

on:
  pull_request:
    branches:
      - main

permissions:
  actions: read
  security-events: write
  contents: read

jobs:
  can-pr:
    uses: "google/osv-scanner-action/.github/workflows/osv-scanner-reusable-pr.yml@c5996e0193a3df57d695c1b8a1dec2a4c62e8730"
