name: Release

on:
  push:
    paths:
      - ".changeset/**"
      - "src/**"
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: write
  id-token: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup
        uses: ./.github/composite-actions/cache-and-install

      - name: Create release Pull Request or publish to NPM
        uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba # v1.5.3
        with:
          publish: bun publish
          title: "Updated packages"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
