name: Release

on:
  push:
    paths:
      - ".changeset/**"
      - "src/**"
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: write
  id-token: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup
        uses: ./.github/composite-actions/cache-and-install

      - name: Build
        run: |
          pnpm run build

      - name: Create release Pull Request or publish to NPM
        uses: changesets/action@6a0a831ff30acef54f2c6aa1cbbc1096b066edaf # v1.7.0
        with:
          publish: pnpm run release
          title: "Updated packages"
          commit: "ci(changesets): updated packages"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
